
 <div class="header">

{{#each erros}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/each}}
        
    <div class="inner-header flex">
       

    </div>    
        <!--Waves end-->
    <div class="container">


        <form action="/" method="post">
            <div class="row">
                <img class="rounded mx-auto col-5 col-sm-4 col-md-3 col-lg-2 col-xl-1" src="../../public/img/Logo.png">
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <input class="input_login col-10 col-sm-9 col-md-6 col-lg-5 col-xl-3" type="text" name="email_login" id="email_login" placeholder="Usuário">
                </div>       
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <input class="input_login col-10 col-sm-9 col-md-6 col-lg-5 col-xl-3" type="password" name="senha_login" id="senha_login" placeholder="Senha">
                </div>       
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button  type="submit" class="btn btn-primary col-10 col-sm-9 col-md-6 col-lg-5 col-xl-3">Entrar</button>
                    
                </div>       
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p>Não tem conta?<a href="/usuario/cadastro_perfil" class="btn btn-link">Cadastrar</a></p>
                </div>
            </div>
        </form>


    </div>            
        
        
        
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>

            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
            </svg>
            </div>
