

{{#each erros}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/each}}

<div class="header">

    <div class="inner-header flex">
    </div>    
        <!--Waves end-->
    <div class="container">

        
        <form action="/usuario/cadastro_membros" method="post">
            <h2 style="padding: 20px;">Cadastro de membros</h2>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Nome:</b></p>
                    <input class="nome_membro col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="text" name="nome_membros" id="nome_membros" placeholder="Insira o nome">
                </div>       
            </div>
            <div class="row">

                
                <div class="col-12 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Endereco:</b></p>
                    <input class="endereco_membro col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="text" name="endereco_membro" id="endereco_membro" placeholder="Insira o endereço">
                </div>       
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="submit">Realizar Cadastro</button>
                   
                </div>       
            </div>
        </form>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>

            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>



