<div class="header">

{{#each erros}}
<div class="alert alert-danger">{{error}}</div>
{{else}}

{{/each}}
    <div class="inner-header flex">
    </div>    
        <!--Waves end-->
    <div class="container">

        
        <form action="/usuario/cadastro_perfil" method="post">
            <h2 style="padding: 20px;">Cadastro de perfil</h2>
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Nome:</b></p>
                    <input class="nome_perfil col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="text" name="nome" id="nome" placeholder="Insira seu nome">
                </div>       
                <div class="col-6 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Senha:</b></p>
                    <input class="senha_perfil col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="password" name="senha" id="senha" placeholder="Insira sua senha">
                </div>     
            </div>
            <div class="row">      
                <div class="col-6 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Email:</b></p>
                    <input class="email_perfil col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="email" name="email" id="email" placeholder="Insira seu email">
                </div>   
                <div class="col-6 d-flex justify-content-center">
                    <p class="col-2" style="margin-top: 30px ;"><b>Confirmar senha: </b></p>
                    <input class="senha2_perfil col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3" type="password" name="senha2" id="senha2" placeholder="Insira sua senha novamente">
                </div>   
                
                
                    
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary col-8 col-sm-6 col-md-6 col-lg-5 col-xl-3">Realizar cadastro</button>
                    
                </div>       
            </div>
        </form>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>

            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>  